//.social-media {
//  display: table;
//  width: 100%;
//  text-align: center;
//
//
//
//  li {
//    display: table-cell;
//  }
//}

.social-media {
  //overflow-x:hidden;
  white-space:nowrap;

  li {
    display:block;
    width: 25%;
    float: left;
    position: relative;


    a {
      vertical-align: middle;
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
    }

    i {
      margin: 0 auto;
      font-size: 4vw;
    }

    //position:relative;
    //
    //a {
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  vertical-align: middle;
    //  display: table-cell;
    //}
    //
    //i {
    //
    //}
    //
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.social-media-full {
  position: absolute;
  bottom: 3vw;
  background: #fff;
  //overflow-x:hidden;
  white-space:nowrap;
    display: table;
    width: 100%;

  li {
    //display:block;
    display: table-cell;
    //width: 25%;
    //float: left;
    position: relative;


    a {
      vertical-align: middle;
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      color: #aaa;
    }

    i {
      margin: 0 auto;
      font-size: 4vw;
    }

    //position:relative;
    //
    //a {
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  vertical-align: middle;
    //  display: table-cell;
    //}
    //
    //i {
    //
    //}
    //
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

// todo animations after hover and maybe abimation (blysk) after click

.social-media, .social-media-full {
  i {
    //font-size: 30px;

  }

  a {
    color: #aaa;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  .facebook {
    i { transform: scale(.83); position: relative; left: -4%; bottom: -2%; }
    a:hover { background: #3b5998; color: #fff; }
  }

  .linkedin {
    i { transform: scale(.78); }
    a:hover { background: #007bb5; color: #fff; }
  }

  .youtube {
    i { transform: scale(.85); }
    a:hover { background: #ff0000; color: #fff; }
  }

  .whatsapp a:hover { background: #4dc247; color: #fff; }

  .pinterest a:hover { background: #cb2027; color: #fff; }

  .snapchat a:hover { background: #fffc00; color: #222; }

  .github {
    i { transform: scale(.95); }
    a:hover { background: #24292e; color: #fff; }
  }

  .stackoverflow {
    i { transform: scale(.88); }
    //a:hover { background: #f48024; color: #222426; } // #bcbbbb
    a:hover { background: #f48024; color: #fff; } // #bcbbbb
  }

  .skype {
    i { transform: scale(.92); }
    a:hover { background: #00aff0; color: #fff; } // #222426
  }

  .weixin {
    i { transform: scale(.87); }
    a:hover { background: #7bb32e; color: #fff; }
  }

  .instagram {
    i { transform: scale(.97); }
    a:hover { background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); color: #fff; }
  }

  .whatsapp a:hover { background: #1ebea5; color: #fff; } // #128c7e;

  .behance {
    i { transform: scale(.88); }
    a:hover { background: #1769ff; color: #fff; }
  }

  .medium {
    i { transform: scale(.92); }
    a:hover{ background: #00ab6c; color: #fff; }
  }

  .codepen {
    i { transform: scale(.97); }
    a:hover{ background: #ff3c41; color: #fff; }
  }

  .twitter a:hover{ background: #1da1f2; color: #fff; }
}
