.container {
  width: 100%;
  //background: #eee;

  @media (min-width: map-get($breakpoints, md)) { max-width: 90vw; }
  @media (min-width: map-get($breakpoints, lg)) { max-width: 80vw; }
}

@mixin generate-column($i) {
  width: #{($i/12*100)+%};
}

.column {
  float: left;
  min-height: 1px;
  &.is-1 { width: #{(1/12*100)+%}; }
  &.is-4 { width: #{(4/12*100)+%}; }
  &.is-7 { width: #{(7/12*100)+%}; }
  &.is-8 { width: #{(8/12*100)+%}; }

  @each $name, $breakpoint in $breakpoints {

    @if $breakpoint == 'xs' {
      @for $i from 1 through 12 {
        .col-#{$name}-#{$i} {
          @include generate-column($i);
        }
      }
    }

    @else {
      @media (min-width: $breakpoint) {
        @for $i from 1 through 12 {
          .col-#{$name}-#{$i} {
            @include generate-column($i);
          }
        }
      }
    }



  }

}
